[submodule "meatstand_common"]
	path = meatstand_common
	url = http://dev.meatstand.com/meatstand/meatstand_common.git
[submodule "firmware/audioboot-writer"]
	path = firmware/audioboot-writer
	url = http://dev.meatstand.com/meatstand/audioboot-writer.git
