[submodule "meatstand_common"]
	path = meatstand_common
	url = http://dev.meatstand.com/meatstand/meatstand_common.git
[submodule "firmware/libraries/adafruit_gfx"]
	path = firmware/libraries/adafruit_gfx
	url = http://dev.meatstand.com/mirrors/adafruit-gfx-library.git
[submodule "firmware/libraries/adafruit_ssd1306"]
	path = firmware/libraries/adafruit_ssd1306
	url = http://dev.meatstand.com/mirrors/adafruit_ssd1306.git
